In [1]:
# naimportovanie knižnice pandas ako akronym pd   
# pandas -> používa sa hlavne na analýzu dát, umožňuje importovať dáta z rôznych formátov ako napr. csv, excel, JSON, SQL, ...
import pandas as pd

In [4]:
# uloženie datasetu do premennej dataset, s príznakom sep=";" (dáta sú oddelené znakom ;)
dataset = pd.read_csv('cardiovascular_diseases_dv3.csv',sep=";")

In [5]:
dataset

,AGE,GENDER,HEIGHT,WEIGHT,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE
0,50,2,168,62,110,80,1,1,0,0,1,0
1,55,1,156,85,140,90,3,1,0,0,1,1
2,52,1,165,64,130,70,3,1,0,0,0,1
3,48,2,169,82,150,100,1,1,0,0,1,1
4,48,1,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
68778,53,2,168,76,120,80,1,1,1,0,1,0
68779,62,1,158,126,140,90,2,2,0,0,1,1
68780,52,2,183,105,180,90,3,1,0,1,0,1
68781,61,1,163,72,135,80,1,2,0,0,0,1
68782,56,1,170,72,120,80,2,1,0,0,1,0